name: Notify Jarvis

on:
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, closed, reopened]
  create:
  delete:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Jarvis of push event
        if: github.event_name == 'push'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.JARVIS_ACCESS_TOKEN }}
          repository: NOTMORSE-PROG/JARVIS
          event-type: push
          client-payload: |-
            {
              "event_type": "push",
              "owner": ${{ toJSON(github.repository_owner) }},
              "repo": ${{ toJSON(github.event.repository.name) }},
              "branch": ${{ toJSON(github.ref_name) }},
              "message": ${{ toJSON(github.event.head_commit.message) }},
              "sender": ${{ toJSON(github.actor) }},
              "url": ${{ toJSON(github.event.head_commit.url) }}
            }

      - name: Notify Jarvis of pull request event
        if: github.event_name == 'pull_request'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.JARVIS_ACCESS_TOKEN }}
          repository: NOTMORSE-PROG/JARVIS
          event-type: pull_request
          client-payload: |-
            {
              "event_type": "pull_request",
              "owner": ${{ toJSON(github.repository_owner) }},
              "repo": ${{ toJSON(github.event.repository.name) }},
              "action": ${{ toJSON(github.event.action) }},
              "merged": ${{ github.event.pull_request.merged }},
              "title": ${{ toJSON(github.event.pull_request.title) }},
              "url": ${{ toJSON(github.event.pull_request.html_url) }},
              "sender": ${{ toJSON(github.actor) }},
              "branch": ${{ toJSON(github.event.pull_request.head.ref) }}
            }

      - name: Notify Jarvis of branch creation
        if: github.event_name == 'create' && github.event.ref_type == 'branch'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.JARVIS_ACCESS_TOKEN }}
          repository: NOTMORSE-PROG/JARVIS
          event-type: create
          client-payload: |-
            {
              "event_type": "create",
              "owner": ${{ toJSON(github.repository_owner) }},
              "repo": ${{ toJSON(github.event.repository.name) }},
              "branch": ${{ toJSON(github.event.ref) }},
              "sender": ${{ toJSON(github.actor) }}
            }

      - name: Notify Jarvis of branch deletion
        if: github.event_name == 'delete' && github.event.ref_type == 'branch'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.JARVIS_ACCESS_TOKEN }}
          repository: NOTMORSE-PROG/JARVIS
          event-type: delete
          client-payload: |-
            {
              "event_type": "delete",
              "owner": ${{ toJSON(github.repository_owner) }},
              "repo": ${{ toJSON(github.event.repository.name) }},
              "branch": ${{ toJSON(github.event.ref) }},
              "sender": ${{ toJSON(github.actor) }}
            }
